body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* General*/
.main-color {
    color: #03A9F4;
}

.bold {
    font-weight: bold;
}

.color-white {
    color: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

/*======*/
/*Loading*/
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #3490dc;
}

/*======*/
/* NavBar */
nav {
    /* background-color: #03a9f41c; */
    padding: 10px 0;
    position: relative;
}

nav .background {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}

nav .social-list {
    display: inline;
}

nav .social-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav .social-list ul li {
    display: inline;
    margin: 0 5px;
}

nav .social-list ul li a {
    font-size: 29px;
    line-height: 1.9;
}

.logo img {
    width: 60px;
    height: 60px;
}

.menu {
    width: 35px;
    margin-bottom: 4px;
    height: 5px;
    border-radius: 20px;
    background-color: #03A9F4;
    cursor: pointer;
}

.popup-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -150%;
    left: 0;
    z-index: 88;
    transition: .5s cubic-bezier(0, 1.32, 0.61, 1.08);
    -webkit-transition: .5s cubic-bezier(0, 1.32, 0.61, 1.08);
    -moz-transition: .5s cubic-bezier(0, 1.32, 0.61, 1.08);
    -ms-transition: .5s cubic-bezier(0, 1.32, 0.61, 1.08);
    -o-transition: .5s cubic-bezier(0, 1.32, 0.61, 1.08);
}

.back-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #43a7f7de;
    z-index: -1;
}

.menu-btn {
    cursor: pointer;
    float: right;
    margin-top: 12px;
}

.popup-menu img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.popup-menu .container i {
    float: right;
    font-size: 40px;
    background-color: #333;
    padding: 9px 14px;
    border-radius: 50%;
    cursor: pointer;
}

.popup-menu .container ul {
    list-style: none;
    margin-top: 10%;
}

.popup-menu .container ul li {
    font-size: 45px;
    font-weight: bold;
    margin: 25px;
    font-family: ui-sans-serif;
}

/*=================*/
/* landing */
header{
    padding-bottom: 130px;
}
.welcome {
    color: #00557b;
}

.welcome h1 {
    font-size: 80px;
    color: inherit;
    margin: 0;

}

.welcome h6 {
    text-align: justify;
    opacity: .7;
}

.btn-go {
    position: relative;
    margin: 20px 0;
    width: 100%;
    padding: 15px 0;
    background: #FFF;
    box-shadow: 1px 1px 5px #b9b9b9;
    border: none;
    border-radius: 50px;
    outline: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.btn-go:hover {
    box-shadow: none;
}

.btn-go::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00547b50;
    width: 0px;
    height: 100%;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.btn-go:hover::before {
    width: 100%;
}

.img-intro {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.img-who {
    position: relative;
}

/*=================*/
/* introduce */
.introduce {
    padding: 10px 0;
}

/*=================*/
/* Gallery */
.inner-gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

.gallery button {
    background-color: #03b9f7;
    margin: 0 10px;
    color: #FFF;
    font-weight: bold;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

/*=================*/
/* Slider */
.slider {
    padding: 10px 0;
    background-color: #0099ff;
    overflow: hidden;
}
.slider .cont-trigger{
    overflow: hidden;
}
.slider .cont-trigger .trigger {
    padding: 0px 10px;
    background-color: #FFF;
    margin: 5px;
    border-radius: 63px;
    cursor: pointer;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    overflow: hidden;
}

.slider .cont-trigger .active {
    padding: 0px 20px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.inner-slider {
    position: relative;
    overflow: hidden;
    height: 380px;
    margin-bottom: 20px;
    background-color: #FFF;
    border-radius: 215px;
    box-shadow: 1px 1px 10px #7d7d7d;
    -webkit-border-radius: 215px;
    -moz-border-radius: 215px;
    -ms-border-radius: 215px;
    -o-border-radius: 215px;
}

.inner-slider div {
    padding: 20px;
}

.inner-slider img {
    border-radius: 147px;
    border: 5px solid #777;
    padding: 5px;
}

.inner-slider p {
    font-size: 17px;
    opacity: .7;
    text-align: justify;
}

.slider svg {
    background-color: khaki;
}

.slider-svg-2 {
    transform: rotate(180deg);
}

/*=================*/
/* Static */
.stats {
    padding: 10px 0;
    background-color: #0099ff;
}

.stats i {
    color: #0099ff;
    background-color: #FFF;
    padding: 18px;
    border-radius: 50%;
}

.stats span {
    display: block;
    font-size: 62px;
    font-weight: bold;
    color: #FFF;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.stats h5 {
    color: #FFF;
}

/*=================*/
/* Contact us */
.contact {
    padding: 50px 0;
    width: 100%;
    background: linear-gradient(320deg, rgba(0, 0, 0, 0.397) 0%, rgba(17, 17, 17, 0.356) 42%), url('../images/team.jpg') no-repeat fixed;
    background-size: cover;
}

.contact h2 {
    background-color: #333;
    border-radius: 36px;
    padding: 9px 14px;
    display: inline;
    margin-left: calc(41% - 63px);
}

.contact h2 i {
    background-color: #0099ff;
    padding: 15px;
    position: relative;
    top: -2px;
    left: -14px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.contact form label {
    font-weight: bold;
    color: #FFF;
}

.contact form {
    width: 60%;
    margin-left: 20%;
}

.contact form .submit {
    width: 200px;
}

/*===============================*/
/* Brands */
.brands {
    margin-top: 90px;
    margin-bottom: 90px;
    padding: 10px 0;
}

/*============================*/
/*Footer*/
.footer {
    width: 100%;
    min-height: 500px;
    background-color: #333;
    margin-top: 3px;
    padding-bottom: 20px;
}

.footer .our-links {
    margin-top: 90px;
}

.footer .way-for-bye {
    margin-top: 95px;
}

.footer .our-links .display-4,
.footer .way-for-bye .display-4 {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 45px;
}

.footer .our-links li,
.footer .way-for-bye li {
    list-style: none;
    margin-top: 20px;
    transition: all .5s ease;
}

.footer .way-for-bye li {
    margin-left: 30px;
    margin-top: 30px;
}

.footer .our-links a,
.footer .way-for-bye a {
    color: #FFF;
    margin-top: 20px;
    transition: all .5s ease;
    text-decoration: none;
}

.footer .row a:hover {
    color: rgb(71, 108, 143);

}

.footer .row li:hover {
    transform: scale(1.1);
}

.footer .feedback {
    margin-top: 110px;
}

.footer .feedback textarea {
    height: 180px;
}

.footer .feedback .display-4 {
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
}

.footer p {
    color: #fff;
    background-color: #5e5e5e;
    padding: 15px;
    margin-top: 50px;
}

.footer span {
    font-size: 25px;
    padding-left: 10px;
    padding-bottom: 10px;
}